
    <hr class="margin0" />

    <br />
    <section id="footer" class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-24 col-md-24">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <img src="{{ '/images/foot_logo.gif' | prepend: site.baseurl }}" width="" height="" class="" />
                        </div>
                        <div class="col-lg-6 col-lg-offset-6 col-sm-12">
                            <h4>{{ site.data.i18n[page.language].newsletter }}</h4>
                            <p>{{ site.data.i18n[page.language].subscribe_to_nl_desc }}</p>


                            <iframe src="/newsletter/{% if page.language != 'en' %}{{ page.language }}/{% endif %}" border="0" style="border:0;" allowtransparency="true" width="100%"></iframe>








                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="footrow" class="footrow">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-24 col-md-24">
                        <hr>
                        <div class="info small uppercase pull-right">
                            <div class="social_icons none">
                                <a class="linkedin" href="#"><em class="fa fa-linkedin"></em></a>
                                <a class="twitter" href="#"><em class="fa fa-twitter"></em></a>
                                <a class="gplus" href="#"><em class="fa fa-google-plus"></em></a>
                                <a class="facebook" href="#"><em class="fa fa-facebook"></em></a>
                            </div>
                        </div>
                        <p class="small text-center c_555">



                    {% if page.language == 'ja' %}





                            <small>
                        
カルダノ財団は『The Foundations Act 2011 of the Isle of Man』に基づき<br>
登録番号 000076Mとして2015年9月25日に設立されました。<br>

カルダノ財団の登録代理人: ILS Fiduciaries (IOM) Limited<br>
First Floor, Millennium House, Victoria Road, Douglas, Isle of Man, IM2 4RW

<br>
                            </small>
                            <br>
                            <span class="uppercase">&copy;2016 Cardano Foundation <br/>ALL RIGHTS RESERVED</span></p>


                
                    {% else %}

                            <small>
                            Cardano Foundation was established on 25 September 2015 under the Foundations Act 2011 of the Isle of Man with registered number 000076M. <br>
                            The registered agent of the Cardano Foundation is: ILS Fiduciaries (IOM) Limited, First Floor, Millennium House, Victoria Road, Douglas, Isle of Man, IM2 4RW<br>
                            </small>
                            <br>
                            <span class="uppercase">&copy;2016 Cardano Foundation <br/>ALL RIGHTS RESERVED</span></p>



                    {% endif %}



                    </div>
                </div>
            </div>
        </footer>
    </div>

</div><!-- /#page -->

<script type="text/javascript" src="{{ '/js/bootstrap.min.js' | prepend: site.baseurl }}"></script>
